openapi: 3.1.1
info:
  title: The Pilot Club Core API v2
  version: 3.0.1
  termsOfService: 'https://www.thepilotclub.org/legal#TOS'
  contact:
    email: tech@thepilotclub.org
    name: TPC Tech Team
servers:
  - url: 'https://api.thepilotclub.org'
    description: Production
paths:
  '/{id}':
    delete:
      operationId: AppController_removeUser
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Removes a User from all tables
          content:
            application/json:
              example:
                - removedFrom:
                    leaderboard: true
                    quiz: true
      tags:
        - Users
  /quiz/all:
    get:
      operationId: QuizController_findAll
      responses:
        '200':
          description: 'Gets a list of all questions in the database'
          $ref: '#/components/responses/QuizAllResponse'
      tags:
        - Quiz
  /quiz/current:
    get:
      operationId: QuizController_getCurrent
      responses:
        '200':
          description: 'gets the current question in the queue for the quiz'
          $ref: '#/components/responses/GetQuizResponse'
      tags:
        - Quiz
  /quiz/next:
    get:
      operationId: QuizController_getNext
      responses:
        '200':
          description: 'Get the next question in the queue for the quiz'
          $ref: '#/components/responses/GetQuizResponse'
      tags:
        - Quiz
  /quiz/new:
    post:
      operationId: QuizController_newQuestion
      parameters: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuizDto'
      responses:
        '201':
          description: 'The standard output of the api creation. The generated maps section of the response is other properties within the same table that are used during the creation of your request.'
          $ref: '#/components/responses/NewQuizResponse'
      tags:
        - Quiz
  '/quiz/{id}':
    get:
      operationId: QuizController_getOne
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
          $ref: '#/components/responses/GetQuizResponseFull'
      tags:
        - Quiz
    put:
      operationId: QuizController_update
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuizDtoAll'
      responses:
        '200':
          description: ''
          $ref: '#/components/responses/NewQuizResponse'

      tags:
        - Quiz
    delete:
      operationId: QuizController_deleteOne
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: 'Some data may not be present during the deletion process'
          $ref: '#/components/responses/NewQuizResponse'
      tags:
        - Quiz
  /suggestions/all:
    get:
      operationId: SuggestionsController_findAll
      parameters: [ ]
      responses:
        '200':
          description: ''
          $ref: '#/components/responses/SuggestionsAllResponse'
      tags:
        - Suggestions
  '/suggestions/{id}':
    get:
      operationId: SuggestionsController_getSuggestionById
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        '200':
          description: ''
          $ref: '#/components/responses/SuggestionsResponse'
      tags:
        - Suggestions
    patch:
      operationId: SuggestionsController_updateSuggestion
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSuggestionDto'
      responses:
        '200':
          description: ''
          $ref: '#/components/responses/SuggestionsResponse'
      tags:
        - Suggestions
    delete:
      operationId: SuggestionsController_deleteOne
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: number
      responses:
        '200':
          description: 'Some data may not be present during the deletion process'
          $ref: '#/components/responses/SuggestionsDeleteResponse'
      tags:
        - Suggestions
  /suggestions/new:
    post:
      operationId: SuggestionsController_createSuggestion
      parameters: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSuggestionDto'
      responses:
        '201':
          description: ''
          $ref: '#/components/responses/SuggestionsResponse'
      tags:
        - Suggestions
  /discord/logs/new:
    post:
      operationId: BotlogsController_addLogs
      summary: creates a new log
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLogsDto'
      responses:
        '201':
          description: ''
      tags:
        - BotLogs
  /discord/logs/all:
    get:
      operationId: BotlogsController_getLogs
      responses:
        '200':
          description: List of all logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logs'
      tags:
        - BotLogs
  /discord/sticky/find:
    get:
      operationId: StickyController_findSticky
      parameters: [ ]
      responses:
        '200':
          description: ''
          $ref: '#/components/responses/StickyMessageGetResponse'
      tags:
        - Sticky
  /discord/sticky/new:
    post:
      operationId: StickyController_addSticky
      parameters: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStickyDto'
      responses:
        '201':
          description: 'A 201 status code will be sent with no data being sent'
      tags:
        - Sticky
  /discord/sticky/delete:
    delete:
      operationId: StickyController_removeSticky
      parameters: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStickyDto'
      responses:
        '204':
          description: 'Will send an empty response with a 204 status code'
      tags:
        - Sticky
  '/discord/leaderboard/users/find/{id}':
    get:
      operationId: LeaderboardController_findUser
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags:
        - Leaderboard
  /discord/leaderboard/users/create:
    post:
      operationId: LeaderboardController_createUser
      parameters: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserDto'
      responses:
        '201':
          description: ''
      tags:
        - Leaderboard
  '/discord/leaderboard/users/{id}':
    patch:
      operationId: LeaderboardController_updateUser
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
      responses:
        '200':
          description: ''
      tags:
        - Leaderboard
  /quiz/responses/user/record:
    post:
      operationId: QuizResponsesController_setUserResponse
      parameters: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserResponseDto'
      responses:
        '201':
          description: ''
      tags:
        - QuizResponses
  '/quiz/responses/user/check/{id}':
    get:
      operationId: QuizResponsesController_getCheck
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags:
        - QuizResponses
  '/quiz/responses/user/responses/{id}':
    get:
      operationId: QuizResponsesController_getUserResponse
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
        - name: answer
          required: true
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags:
        - QuizResponses
  /quiz/responses/question/all:
    get:
      operationId: QuizResponsesController_getQuestion
      parameters: [ ]
      responses:
        '200':
          description: ''
      tags:
        - QuizResponses
  /quiz/responses/question/set:
    post:
      operationId: QuizResponsesController_setQuestion
      parameters: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetQuestionDto'
      responses:
        '201':
          description: ''
      tags:
        - QuizResponses
  '/quiz/responses/question/{id}':
    delete:
      operationId: QuizResponsesController_deleteQuestion
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags:
        - QuizResponses
components:
  responses:
    QuizAllResponse:
      description: All Quiz Questions
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/QuizDtoAll'
    GetQuizResponse:
      description: Get quiz from ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QuizDto'
    GetQuizResponseFull:
      description: Get quiz from ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QuizDtoFull'
    NewQuizResponse:
      description: New Quiz Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardOutput'
    SuggestionsAllResponse:
      description: Suggestion Response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SuggestionDto'
    SuggestionsResponse:
      description: Suggestion Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuggestionDto'
    SuggestionsDeleteResponse:
      description: Suggestion Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardOutput'
    StickyMessageGetResponse:
      description: Get active sticky message
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/StickyDto'
  schemas:
    StandardOutput:
      type: opject
      properties:
        identifiers:
          type: object
          properties:
            id:
              type: string
              example: ece6de76-523f-46fe-8e8b-3b07b7a7c1f9
        generatedMaps:
          type: array
          items:
            additionalProperties:
              type: string
        raw:
          type: object
          properties:
            fieldCount:
              type: number
              example: 1
            affectedRows:
              type: number
              example: 1
            insertId:
              type: number
              example: 0
            info:
              type: string
              example:
            serverStatus:
              type: number
              example: 2
            warningStatus:
              type: number
              example: 0
            changedRows:
              type: number
              example: 1
    QuizDtoAll:
      type: object
      properties:
        question:
          type: string
          example: How did you find me?
        optionA:
          type: string
          example: I looked at the documentation.
        optionB:
          type: string
          example: I skimmed through the documentation.
        optionC:
          type: string
          example: I did not look at the documentation
        correctAnswer:
          type: string
          example: A
        answerDescription:
          type: string
          example: You got this answer because you looked through the documentation.
    QuizDto:
      type: object
      properties:
        id:
          type: string
          example: 09f153a4-e95f-453a-b682-a4c8d1420671
        question:
          type: string
          example: How did you find me?
        optionA:
          type: string
          example: I looked at the documentation.
        optionB:
          type: string
          example: I skimmed through the documentation.
        optionC:
          type: string
          example: I did not look at the documentation
        correctAnswer:
          type: string
          example: A
        answerDescription:
          type: string
          example: You got this answer because you looked through the documentation.
    QuizDtoFull:
      type: object
      properties:
        id:
          type: string
          example: 09f153a4-e95f-453a-b682-a4c8d1420671
        question:
          type: string
          example: How did you find me?
        optionA:
          type: string
          example: I looked at the documentation.
        optionB:
          type: string
          example: I skimmed through the documentation.
        optionC:
          type: string
          example: I did not look at the documentation
        correctAnswer:
          type: string
          example: A
        isActive:
          type: boolean
          example: false
        isOld:
          type: boolean
          example: true
        answerDescription:
          type: string
          example: You got this answer because you looked through the documentation.
    SuggestionDto:
      type: object
      properties:
        id:
          type: number
          example: 1
        statusId:
          type: number
          example: 3
        discordId:
          type: string
          example: 1299073492116967516
        ideaText:
          type: string
          example: Make TPC great again!
        reason:
          type: string
          example: no because its already great!
        messageId:
          type: string
          example: 1299073492116967516
        channelId:
          type: string
          example: 1299073492116967516
        actionUserId:
          type: string
          example: 1299073492116967516
    CreateSuggestionDto:
      type: object
      properties:
        statusId:
          type: number
          example: 1
        discordId:
          type: string
          example: 1299073492116967516
        ideaText:
          type: string
          example: Can we make eric not hate writing documentation by having someone else do it?
    UpdateSuggestionDto:
      type: object
      properties:
        reason:
          type: string
          example: no because its already great!
        messageId:
          type: string
          example: 1299073492116967516
        channelId:
          type: string
          example: 1299073492116967516
        actionUserId:
          type: string
          example: 1299073492116967516
        statusId:
          type: number
          example: 3
    CreateLogsDto:
      type: object
      properties:
        type:
          type: number
          example: 1
        slug:
          type: string
          example: Sync Command
      required:
        - type
        - slug
    Logs:
      type: object
      properties:
        type:
          type: number
          example: 1
          description: Type Of Log Submitted
        slug:
          type: string
          example: Sync Command
          description: Summary of command/ message used
      required:
        - id
        - type
        - slug
    CreateStickyDto:
      type: object
      properties:
        messageId:
          type: string
          example: 398557782623649794
    StickyDto:
      type: object
      properties:
        id:
          type: string
          example: fc6ecd04-0777-4b6f-867a-c2eb8a064fea
        messageId:
          type: string
          example: 398557782623649794
    CreateUserDto:
      type: object
      properties: { }
    UpdateUserDto:
      type: object
      properties: { }
    UserResponseDto:
      type: object
      properties: { }
    SetQuestionDto:
      type: object
      properties: { }
    ApiKeyDto:
      type: object
      properties: { }
